.content {
  padding: 20px 18vw;
}
.title {
  font-size: clamp(50px, 4vw, 90px);
  padding: 20px 0 30px 0;
}

.content-txt {
  font-size: clamp(32px, 1.8vw, 40px);
}
@media screen and (max-width: 700px) {
  .content {
    padding: 30px 5vw;
  }
  .content-txt {
    text-align: center;
  }
  .title {
    text-align: center;
  }
}
